<!DOCTYPE html>
<html>
    
{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="textBox">
    <div id="text">

        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <p>Paragalactic Payment</p>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- link to the SqPaymentForm library -->
        <script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script>
    
        <!-- link to the custom styles for SqPaymentForm -->
        <link rel="stylesheet" type="text/css" href="/static/sq-payment-form.css">

    </div>
</div>

{% endblock content %}

</html>