{% extends "game/base.html" %}
{% block content %}
<div class="col-md-6">
    <table class="table">
        <thead>
            <tr>
                <th>Badge</th>
                <th>What you've earned</th>
            </tr>
        </thead>
        {% for badge in badges %}
        <tr>
            <td>
                <image src="{{badge.badge.icon_incomplete}}" style="width:32px;height:32px;" />
            </td>
            <td>
                {% if badge.tier %}
                <image src="{{badge.tier.icon}}" style="width:32px;height:32px;" />
                {% else %}
                Not earned
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock content %}