<!DOCTYPE html>
<html>

{% extends "game/base.html" %}
{% block content %}

<div class="header">
    <div id="title">
        <p><b>P A R A G A L A C T I C</b></p>
    </div>
    <div id="subtitle">
        <p><b>・An Educational Space Adventure・</b></p>
    </div>
</div>

<div class="video">
    <iframe width="720" height="480" 
        src="https://www.youtube.com/embed/4YgLR65rSfw" frameborder="0" allowfullscreen>
    </iframe>
</div>

<div class="description">

    <img src="https://i.ibb.co/tYMywjH/Paragalactic-Logo.png"  width="230" height="230">

    <p><b>・ A B O U T ・</b></p>

    <div id="text">
        <p>Paragalactic is a space-flight simulator designed 
        in partnership with the StarWalker Academy at the 
        Fleischmann Planetarium.</p>

        <p>To learn more information about the simulator, visit the official Paragalactic website 
        <a href="https://www.waynenterprises.com/paragalactic/">here.</a></p>
    </div>

</div>

<div class="textBox">
    <div id="text">
        View a Twitch.tv livestream of the simulator in action <a href="https://www.twitch.tv/paragalactic">here.</a>
    </div>
</div>

{% endblock content %}

</html>